a{
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

h3{
	font-size: 14px;
	font-weight: bold;
}

strong{
	font-weight: bold;
}
body { 
	padding-bottom: 50px;
	font-size: 12px; 
}

/*Tránh tình trạng không hiển thị tab trên giao diện mobile (tab phía trên ds vb đến)*/
@media only screen and (max-width: 480px) {
    body{
    	font-size: 11pt;
    }
    .inmobile {
    	width:1%;
        display: table-cell !important;
    }
}
.clearfix{
	clear: both;
}
.page_title{
	font-size: 0.6em;
	font-weight: none;
	font-style: italic;

	margin-top: 10px;
	margin-bottom: 5px;
}
.card{
	padding:5px;
	padding-bottom: 10px;
}
.row_content{

	background-color: #ffffff;
	border-bottom: 1px solid #ccc;
}
a.link-card{
	display: inline-block;
}
a.link-file{
	display: inline;
	color: #f00;
}
.span_url_file{
	word-break:break-all;
}
.pl-15{
	padding-left: 15px;
}


.navbar-fixed-bottom{

	height: 50px;
}
.menubottom_a > .fa{
	font-size: 1em;
}
.menubottom_a{
	font-size: 0.7em;
	position:absolute; 
	width: 20%;  
	height: 50px;
	overflow:hidden;
	top: 0; 
	padding-top:10px;
	padding-bottom: 10px;
	/*line-height: 50px;*/
	vertical-align: center;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #5bc0de;
	display: block;

}
.menubottom_a:hover{
	text-decoration: none;
}
.navbar-fixed-bottom .active{
	background-color: #0a9cc7;
}
.trangchu_block{
	display: block;
	text-align: center;
	/*height: 750px;*/
	/*height: 46.5vh;*/
	/*padding-top: 350px;*/
	vertical-align: center;
	background-color: #acacac;
	
	
	font-size: 1.5em;
	text-align: center;
	color: #ffffff;
}
.trangchu_block_h3{
	font-size: 2em;
	color: #fff !important;
}
.menubottom_a .label{
	position: absolute;
	font-size: 3.5pt;
	margin-top: -2px;
	margin-left: -2px;
	padding-top: 2px;
}

.form-control !important{
	font-size: 9pt;
}
.form-group{
	margin-bottom: 0px;
}
.container h3{
	color: #0a9cc7;
}

.nav-tabs.nav-justified > li  {
	padding-bottom: 0;
	margin-bottom: 0;
}
.nav-tabs.nav-justified > li > a {
	/*padding-bottom: 4px;*/
	margin-bottom: 0;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border:0px;
	border-bottom: 2px solid #0a9cc7 !important;
	margin-bottom: 0;
	border-radius: 0;
}
.nav-tabs.nav-justified {
	border-bottom: 1px solid #ccc !important;
}


.btn{
	font-size: 10px;
}
/*.form-control{
	font-size: 10px;
	height: 26px;
}
.form-control option{
	font-size: 10px;
}*/
.btn_quay_lai{
	background-image: none;
	background-color: #d9534f;
	color: #ffffff;
	border:0px;
	font-size: 9pt;
	padding: 8px 12px;
	width: 80%;
}
.btn_quay_lai:hover{
	color: #ffffff;
}

#sel_nguoinhan option[data-info="macdinh"] {
  background: #b8e3f0;
}
#sel_nguoinhanphu option[data-info="macdinh"] {
  background: #b8e3f0;
}